* {
    margin : 0;
    padding : 0;
}

a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;

}
header {
    border-bottom : 3px solid #333
}
header > div {
    min-width : 1000px;
    width: 90%;
    height : 80px;
    margin : 0 auto;
}

header .logo {
    float: left;
    margin-top : 10px;
}
header .loge img{
    height: 60px;
} 

header .navbar{
    float: right;
    margin-top: 25px;
}
header .navbar li{
    display: inline-block;
    margin-left : 15px;
    margin-right : 15px;
}
header .navbar li:first-child{
    margin-left : 0;
}


/*post slider*/
.post-slider{
    width:70%;
    margin:0px auto;
    position:relative;
  }
  .post-slider .silder-title{
    text-align:center;
    margin:30px auto;
  }
  .post-slider .next{
    position:absolute;
    top:50%;
    right:30px;
    font-size:2em;
    color:gray;
    cursor: pointer;
  }
  .post-slider .prev{
    position:absolute;
    top:50%;
    left:30px;
    font-size:2em;
    color:gray;
      cursor: pointer;
  }
  .post-slider .post-wrapper{
  
    width:84%;
    height:500px;
    margin:0px auto;
    overflow: hidden;
    padding:10px 0px 10px 0px;
  }
  .post-slider .post-wrapper .post{
    width:400px;
    height:400px;
    margin:0px 10px;
    display:inline-block;
    background:white;
    border-radius: 5px;
  }
  .post-slider .post-wrapper .post .post-info{
    font-size:15px;
    height:30%;
    padding-left:10px;
  }
  .post-slider .post-wrapper .post .slider-image{
    width: 90%;
    height:300px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
  }

